// bower:scss
// endbower

body {
  margin: 0;
}

.header-wrapper {
  width: 100%;

  .fixed-header {
    margin: 0;
    width: 100%;
    font-size: 40px;
    background-color: teal;
    position: fixed;

    img {
      width: 100px;
    }

    .header-list {
      float: right;
      margin-right: 50px;
      display: inline-block;

      li {
        font-size: 20px;
        display: inline-block;
      }
    }
  }

  .header-cont {
    padding-top: 110px;

    img {
      width: 100%;
      margin: 0;
    }
  }
}

.mission-wrapper {
  width: 100%;

  img {
    margin-top: 80px;
    margin-left: 120px;
  }

  .mission-contents {
    width: 50%;
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    text-align: center;

    h1 {
      width: 50%;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 40px;
    }
  }
}

.donate {
  width: 100%;
  margin-top: 100px;

  h1 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
  }

  p {
    width: 60%;
    margin: 0 auto;
  }
}
